#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-a .mbr-navbar__section {
  background: #28324e;
}
#menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-2 H3 {
  text-align: center;
  color: #28324e;
  font-size: 32px;
}
#content4-m P {
  text-align: center;
}
#content4-m I {
  font-size: 14px;
}
#msg-box2-r .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-r .mbr-article {
  color: #252525;
}
#form1-j .mbr-header__text {
  color: #28324e;
}
#msg-box2-q .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-q .mbr-article {
  color: #252525;
}
#social-buttons2-c .mbr-header__text {
  color: #ffffff;
}
